<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://bootswatch.com/4/minty/bootstrap.min.css">
  <!-- Note: Started implementing pop up calender to front end of code, but stopped due to time
  constraints. Left pending code in here in case I decide to build out this application later -->
  <!-- <script>
    function formatDateTimeLocal(datetime) {
      const dt = new Date(datetime);
      const year = dt.getFullYear();
      const month = (dt.getMonth() + 1).toString().padStart(2, '0');
      const day = dt.getDate().toString().padStart(2, '0');
      const hour = dt.getHours();
      const minute = dt.getMinutes().toString().padStart(2, '0');
      const ampm = hour < 12 ? 'AM' : 'PM';
      const hour12 = hour % 12 || 12;
      const hour12Str = hour12.toString().padStart(2, '0');
      return `${year}-${month}-${day}T${hour12Str}:${minute}${ampm}`;
    }
  </script>   -->
  <title>Lunch.ly {% block title %}{% endblock %}</title>
</head>
<body>



<div class="container-fixed">

  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/">Lunch.ly</a>
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarCollapse"
            aria-controls="navbarCollapse"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">
            Customers <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/add/">Add a Customer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/best-customers/">Top 10 Customers</a>
        </li>
      </ul>
    </div>
  </nav>

</div>
<div class="container">

  <div id="content" style="margin-top: 80px">
    {% block content %}{% endblock %}
  </div>

</div>
</body>
</html>